.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.left {
    border: 100px;
    width: 130px;
    height: 130px;
    position: relative;
    display: flex;
}

.right {

    width: 100%;
}

.image {
    width: 60px;
    height: 60px;
}

@media screen and (min-width : 767px) {
    .image {
        width: 20%;
        height: 100%;
    }
}