.container {
    display: flex;
    flex-direction: column;

}


.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
}

.box {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:767px) {
    .box {
        display: flex;
        flex-direction: row;
        gap: 2px;

    }
}

.left {
    width: 100%;
    color: #ccc;
}

.link3 {
    margin-left: 5px;
}

.social {
    color: #ccc;
    font-size: 14px;
}

.links {
    font-size: 14px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

.links {
    cursor: pointer;
    margin-left: 0px;
}

.links:hover {
    text-decoration: underline;
}

@media screen and (min-width:767px) {

    .links {
        cursor: pointer;
        margin-left: 5px;
    }

    .link3 {
        margin-left: 0px;
    }


}