.container {
    display: flex;
    flex-direction: column;

}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
}

.left {
    width: 100%;
    color: #ccc;
    transform: translateY(8px);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.right__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.stacks {
    color: #868686;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-top: 8px
}

/* 
.description {
    width: 300px;
} */

.images {
    width: 100%;
    height: 100%;
}

.images:hover {
    opacity: 0.85;
}

.gap {
    height: 30px;
}

.underline:hover {
    text-decoration: underline;
}

.underline {
    margin-bottom: 5px;
}

.gap__mobile {
    height: 5px;
}

.description2 {
    margin-top: 8px;
}

.description3 {
    display: none;
}

@media screen and (min-width:767px) {


    .description3 {
        display: flex;
    }

    /* .right__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */

    /* .images {
        width: 160px;
        height: 110px;
    } */

    .section {

        flex-direction: row;

    }

    .left {
        width: 20%;
        transform: translateY(0px);
    }

    .right {

        width: 80%;
    }

    .gap {
        height: 40px;
    }

    .gap__mobile {
        height: 0px;
    }
}

/* @media screen and (min-width:600px) {

    .images {
        width: 160px;
        height: 110px;
    }
} */

.insight {
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
}