.container {
    display: flex;
    flex-direction: column;

}

.section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
}

.left {
    width: 20%;
    color: #ccc;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}