.container {
  padding: 0 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  gap: 50px;
  overflow-y: hidden;
}

@media screen and (min-width:1024px) {
  .container {
    padding: 0 2rem;
    padding-bottom: 200px;

  }

}


.main {

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;


}

.gap {
  height: 40px;
}

@media screen and (min-width : 767px) {
  .main {

    min-height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;


  }
}