.container {
  padding: 0 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:1024px) {
  .container {
    padding: 0 2rem;
  }

}


.main {
  padding-top: 100px;
  min-height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;


  border: 1px solid #ccc;

}

/* 
@media screen and (min-width:1024px) {


  .main {
    min-height: 100vh;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: row;


  }


} */